<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="global.sesoc.wareware.vo.User" alias="User"/>
		<typeAlias type="global.sesoc.wareware.vo.News" alias="News"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/UserMapper.xml" />
		<mapper resource="mapper/NewsMapper.xml" />
	</mappers>
</configuration>
