<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.wareware.mappers.ResumeMapper">

	<!-- 이력서 등록 하기 -->
	<insert id="insertResume" parameterType="Resume">
	
		INSERT INTO
			userresume
		(
			resume_no
			, user_email
			, resume_title
			, resume_content
			, category_list
			, resume_regist_date
			
		) VALUES (
		
			SEQ_userresume_resumeno.nextval
			, #{user_email}
			, #{resume_title}
			, #{resume_content}
			, #{category_list}
			, sysdate
		
		)
		
	</insert>
	
	<!-- 자소서 리스트 가져오기 -->
	<select id="resumeList" parameterType="Resume" resultType="Resume">
	
		SELECT
			*
		FROM
			userresume
		WHERE
			user_email = #{user_email}
	
	</select>
	
	<!-- 자소서 하나 가져오기 -->
	<select id="selectOne" parameterType="int" resultType="Resume">
	
		SELECT
			*
		FROM
			userresume
		WHERE
			resume_no = #{resume_no}
	
	</select>
	
	<!-- 자소서 하나 지우기 -->
	<delete id="deleteResume" parameterType="int">
	
		DELETE FROM
			userresume
		WHERE
			resume_no = #{resume_no}
	
	</delete>
	
	<!-- 자소서 수정 -->
	<update id="updateResume" parameterType="Resume">
	
		UPDATE
			userresume
		SET
			resume_title = #{resume_title}
			, resume_content = #{resume_content}
			, category_list = #{category_list}
			, resume_modify_date = sysdate
		WHERE
			resume_no = #{resume_no}
	
	
	</update>

	<!-- 카테고리 워드 리스트 -->
	<select id="getList" parameterType="String" resultType="String">
	
		SELECT
			category_word
		FROM
			categoryinfo
		WHERE
			category_list = #{category_list}
	
	</select>
	
	<!-- 단어 언급 횟수 업데이트 -->
	<update id="updateCategory" parameterType="Category">
	
		UPDATE
			categoryinfo
		SET
			category_count = category_count + 1
		WHERE
			category_list = #{category_list}
		AND
			category_word = #{category_word}
	
	</update>
	
	<!-- 카테고리 리스트 안에 일치하는 단어가 있는지 조사 -->
	<select id="selectCategoryCnt" parameterType="Category" resultType="int">
	
		SELECT
			COUNT(*)
		FROM
			categoryinfo
		WHERE
			category_list = #{category_list}
		AND
			category_word = #{category_word}
	
	</select>
	
	<!-- 카테고리 추가 -->
	<insert id="insertCategory" parameterType="Category">
		
		INSERT INTO
			categoryinfo
		(
			category_no
			, category_list
			, category_word
			, category_count
		
		) VALUES (
		
			SEQ_categoryInfo_category_no.nextval
			, #{category_list}
			, #{category_word}
			, 1
		
		)
			
	</insert>
	
</mapper>