<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.wareware.mappers.UserMapper">

	<!-- 아이디 유무 체크 및 아이디 중복 체크 -->
	<select id="selectOne" resultType="User" parameterType="User" >
	
		SELECT 
			*
		FROM
			userinfo
		WHERE
			user_email = #{user_email}
			<if test="password != null">
			AND password = #{password}
			</if>
	</select>

	<!-- 회원 가입 -->
	<insert id="insertUser" parameterType="User">
	
		INSERT INTO
			userinfo
		(
		
			user_email
			, password
			, user_regist_date
			<!-- sns 회원일 경우 -->
			<if test="user_sns_type != null">
			, user_sns_key
			, user_sns_type
			</if>
		
		) VALUES (
		
			#{user_email}
			, #{password}
			, sysdate
			<!-- sns 회원일 경우 -->
			<if test="user_sns_type != null">
			, #{user_sns_key}
			, #{user_sns_type}
			</if>
		
		)
		
	</insert>
	
	<!-- 회원 정보 수정 -->
	<update id="updateUser" parameterType="User">
	
		UPDATE 
			userinfo
		<set>
			user_modify_date = sysdate
			<if test="user_sns_type == null">
			, password = #{password}
			, user_name = #{user_name}
			, user_age = #{user_age}
			, user_gender = #{user_gender}
			, user_education = #{user_education}
			, user_location = #{user_location}
			</if>
			<if test="user_sns_type != null">
			, user_sns_key = #{user_sns_key}
			, user_sns_type = #{user_sns_type}
			</if>
		</set>
		WHERE
			user_email = #{user_email}
	
	</update>
	
</mapper>